body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1c1c; /* Fondo oscuro */
}

.profile-card {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2e2e2e; /* Fondo oscuro */
}
.tit1{
    font-style: italic !important;
    font-size: 14px !important;
}

.profile-card img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #00ffcc; 
    color: white;
}

.profile-card h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #00ffcc; 
}


.profile-card p {
    color: #666;
    font-size: 16px;
    color: white;
    line-height: 24px;
}

.experience{
    color: #00ffcc !important; 
}

.experience2{
    color: white !important; 
}
.profile-card .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #00ffcc; 
}

